.populerproduct{
    background-color: rgba(239, 239, 239, 0.4);
    padding: 100px 0 20px 0;
    .product-item{
        margin-bottom: 50px;
    }
}

.product-item{
    &-image{
        position: relative;
        margin-bottom: 22px;
        img{
            border-radius: 12px;
        }
        .cart-icon{
            position: absolute;
            top: 20px;
            right: 25px;
            display: flex;
            a{
                margin-left: 8px;
                height: 36px;
                width: 36px;
                background-color: #ffffff;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                i{
                    color: $black;
                    transform: scale(1);   
                }
                &:hover{
                    background-color: #EFEFEF;
                    i{
                        transform: scale(1.1);   
                    }
                   
                }
            }
        }
    }
    &-info{
        a{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 6px;
            color: $black;
            display: block;
        }
        span{
            font-size: 16px;
            font-weight: 400;
            color: $black;
            display: inline-block;
            margin-right: 8px; 
        }
        del{
            color: $lightBlack;
            font-size: 16px;
            font-weight: 400;
        }
    }
}

/*----------------------------------------*/
/*  RESPONSIVE CSS START 
/*----------------------------------------*/

/* large devices 992 - 1169*/
@media (min-width: 992px) and (max-width: 1200px) {
}

/* Medium devices 768 - 991 */
@media (min-width: 768px) and (max-width: 991px) {
}
/* Small devices 575 - 767 */
@media (min-width: 575px) and (max-width: 767px) {
}


/* Small devices 420 - 574 */
@media only screen and (min-width: 420px) and (max-width: 575px) {
    .populerproduct{
        .product-item{
            margin-bottom: 50px;
            .product-item-image{
                img{
                    margin: auto;
                    width: 100%;
                }
            }
        }
    }

}
/* extra Small devices 420 */
@media (max-width: 420px) {
}
