.product-item{
    &-image{
        position: relative;
        margin-bottom: 22px;
        img{
            border-radius: 12px;
        }
        .cart-icon{
            position: absolute;
            top: 20px;
            right: 25px;
            display: flex;
            a{
                margin-left: 8px;
                height: 36px;
                width: 36px;
                background-color: #ffffff;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                i{
                    color: $black;
                    transform: scale(1);   
                }
                &:hover{
                    background-color: #EFEFEF;
                    i{
                        transform: scale(1.1);   
                    }
                   
                }
            }
        }
    }
    &-info{
        a{
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 6px;
            color: $black;
            display: block;
        }
        span{
            font-size: 16px;
            font-weight: 400;
            color: $black;
            display: inline-block;
            margin-right: 8px; 
        }
        del{
            color: $lightBlack;
            font-size: 16px;
            font-weight: 400;
        }
    }
}
