.forget-password {
    padding: 100px 0px;
    background-color: $gray;

    .account-sign-in {
        max-width: 540px;
        margin: 0 auto;

        .form__div {
            margin-bottom: 30px;
        }

        .social-signing {
            margin-bottom: 30px;
        }

        .ask-signup {
            a {
                color: $black;
                font-size: 16px;
            }
        }
    }
}

// Responsive
@media (min-width: 575px) and (max-width: 767px) {
    .forget-password {
        padding: 70px 0px;
    }
}

@media only screen and (min-width: 420px) and (max-width: 574px) {
    .forget-password {
        padding: 50px 0px;
    }
}

@media (max-width: 420px) {
    .forget-password {
        padding: 30px 0px;

        .modi-sm {
            font-size: 30px;
        }
    }
}
